<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Thank You!</title>
</head>
<body>
<div class="container">
    <img src="../static/blood-donation-logo.png" alt="" class="logo" />
    <h1>Thank You!</h1>
    <h2>Thank you for providing details . We may contact you in case of Blood need!</h2>
</div>
</body>
</html>